.Calculator {
    background-color: rgb(185, 169, 169);
    height: 320px;
    width: 235px;
    overflow: hidden;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    /* grid-template-rows: repeat(5, 48px); */
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}

.CalculatorTitle {
    text-align: center;
}